  <div class="modal-content">

    <div class="modal-header">
      <h3 class="modal-title">Adicionar Significado para {{ vm.item.giria }}</h3>
    </div>
    <div class="modal-body">
      <form method="POST" name="descriptionForm" novalidate>
        <div class="form-group">
          <label for="description">
            Descreva o novo significado
          </label>
          <textarea ng-model="vm.newDesc.description" class="form-control" name="description" id="description" required></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-default" type="button" ng-click="vm.close()">
            <i class="fa fa-close"></i>
            Fechar
          </button>

          <button class="btn btn-primary" type="button" ng-disabled="descriptionForm.$invalid" ng-click="vm.addSignificado()">
            <i class="fa fa-save"></i>
            Adicionar Significado
          </button>
        </div>
      </form>
    </div>
  </div>
