<div class="row text-right">
  <div class="col-xs-12">
    <a ui-sref="logout" class="btn btn-danger">
      <i class="fa fa-sign-out"></i>
      Sair
    </a>
    <a ui-sref="home" class="btn btn-default">
      <i class="fa fa-globe"></i>
      Voltar ao mapa
    </a>
    <a ui-sref="criarGiria({stateC: vm.estadoAtual})" class="btn btn-primary">
      <i class="fa fa-plus-square"></i>
      Cadastrar nova Giria
    </a>
  </div>
</div>

<h2 class="text-center">
  Girias - {{ vm.estadoAtual | uppercase }}
</h2>

<div ng-show="vm.girias">
  <br />
  <div class="row">
    <div class="">
      <table class="table">
        <thead>
          <th>Giria</th>
          <th>Significados</th>
        </thead>
        <tbody>
          <tr ng-repeat="giria in vm.girias">
            <td>{{ giria.giria | uppercase }}</td>
            <td>
              <!--
                criar directiva para verificar se existe mais de 1 description,
                se houver, mostrar como modal.
                -->
              <ul class="list-unstyled">
                <li>
                  <div class="row">
                    <div class="col-md-6 col-xs-6">
                      {{ giria.description[0].description }}
                    </div>
                    <div class="col-md-6 col-xs-6">
                      <button type="button" class="btn btn-info btn-sm"
                        ui-sref="giriaDescription({stateC: vm.estadoAtual, giria: giria.giria})">
                        <i class="fa fa-plus"></i>
                        Significados
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="text-center" ng-hide="vm.girias">
  <hr />
  <h4>Não temos Girias para {{ vm.estadoAtual | uppercase }}</h4>
</div>
