<div class="row text-right">
  <!-- diretivas dos buttons -->
  <button-action page="giria_state"></button-action>
</div>

<h2 class="text-center">
  Girias - {{ vm.estadoAtual | uppercase }}
</h2>

<div ng-show="vm.girias">
  <br />
  <div class="row">
    <div class="">
      <table class="table">
        <thead>
          <th>Giria</th>
          <th>Significados</th>
        </thead>
        <tbody>
          <tr ng-repeat="giria in vm.girias">
            <td>{{ giria.giria | uppercase }}</td>
            <td>
              <ul class="list-unstyled">
                <li>
                  <div class="row">
                    <div class="col-md-6 col-xs-6">
                      {{ giria.description[0].description }}
                    </div>
                    <div class="col-md-6 col-xs-6">
                      <button type="button" class="btn btn-info btn-sm"
                        ui-sref="giriaDescription({stateC: vm.estadoAtual, giria: giria.giria})">
                        <i class="fa fa-plus"></i>
                        Significados
                      </button>
                    </div>
                  </div>
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="text-center" ng-hide="vm.girias">
  <hr />
  <h4>Não temos Girias para {{ vm.estadoAtual | uppercase }}</h4>
</div>
