<div class="row pull-right">
  <a ui-sref="home" class="btn btn-default">
    <i class="fa fa-globe"></i>
    Voltar ao mapa
  </a>
</div>

<div class="form-giria">
  <h3 class="text-center">Login</h3>
  <form role="form" name="loginForm">
    <div class="form-group">
      <label for="username">Usuario</label>
      <input type="text" class="form-control" ng-model="vm.user.username"
      id="username" placeholder="Usuario" required>
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" class="form-control" id="password"
      ng-model="vm.user.password" placeholder="Senha" required>
    </div>
    <div class="form-group text-center">
      <button type="button" class="btn btn-primary btn-block" ng-disabled="loginForm.$invalid" ng-click="vm.login()">
        <i class="fa fa-sign-in"></i>
        Entrar
      </button>
      </button>
      <a ui-sref="signin" class="btn btn-info btn-block">
        <i class="fa fa-users"></i>
        Cadastre-se aqui
      </a>
    </div>
  </form>
</div>
